<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registro</title>
</head>
<body>

<h1>Cadastro de usuário</h1>

<form th:action="@{/register}" method="post" th:object="${user}">
    <label for="username">Login:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Senha:</label><br>
    <input type="password" id="password" name="password"><br><br>
    <input type="submit" value="Registrar">
</form>
<a href="/login">Voltar para Login</a>
</body>
</html>